@font-face {
  font-family: "Omnes-Light";
  src: url("/src/assets/fonts/Omnes-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Omnes-Medium";
  src: url("/src/assets/fonts/Omnes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Omnes-SemiBold";
  src: url("/src/assets/fonts/Omnes-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Omnes-Bold";
  src: url("/src/assets/fonts/Omnes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Omnes-Black";
  src: url("/src/assets/fonts/Omnes-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
